/* begin Core.Installer.css */
@media screen,projection,tv,handheld{#InstallerContinueWithJS{display:none;}div.License{font-family:monospace;white-space:pre;border:1px solid #000;background-color:#FFF;width:600px;height:500px;overflow-x:scroll;text-align:left;padding:5px;margin:auto;}}
/* end Core.Installer.css */
